*{
    margin:0;
    padding:0;
    font-family: 'Roboto', sans-serif;

}


.header{
    position:fixed;
    width:100%;
    padding:10px;
    background-color: #00bcd4;
    display: flex;
    justify-content:flex-end;
    align-items:center;
    z-index:1;


}

.left-menu{
    display:flex;
    list-style:none;
    justify-content:flex-end;
    margin-right:3rem;

}


.left-menu .cart {
    color:white;
    background-color: #00bcd4;
}


.card #AddShoppingCart{
    color: white;
    background-color: #00bcd4;
    border: none;
    padding: 5px 9px;
    font-size: 28px;
    border-radius: 50%;
    cursor: pointer;
}

.main-container{



/* margin-top:3rem; */
position: absolute;
    top: 3rem;

    display:flex;
    margin:0 1rem;
    flex-wrap:wrap;
padding:1rem 0rem;
justify-content:space-between;
align-items:space-between;


align-content:space-between;



}

.main-container .card{
    margin-bottom:1rem;
    border-radius: 50px;
background: #e0e0e0;
box-shadow:  20px 20px 60px #bebebe,
             -20px -20px 60px #ffffff;
}

.title{
    margin-left:1rem;
}


.table-Data{
    position:relative;
    top:7rem;
}

.table-Data .image{
    width:15rem;
    text-align:center;
   
  
    
}

.table-Data img{
    width:35%;
}


td,th{
    padding:2rem;

}

input[type="number"] {
    width: 2rem;
    margin: 0 5px;
    border: none;
    border: 1px solid grey;
}

button{
    padding: 4px 11px;
    border: none;
    font-size: 30px;
    border-radius: 50%;
    cursor: pointer;

}


._wrap{
    display:flex;
    justify-content:space-around;
    font-size:1.5rem;
}

.checkout{
    border-radius: none;
    border-radius: inherit;
    padding: 1rem 2rem;
    background: orange;
    border-radius: 15px;
    margin-top:1rem;

}

.checkout.cart{
    background: red;
}